@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html{
scroll-behavior: smooth;
}

html.light[data-theme="dark"] {
  display: none !important;
}
 
html.dark[data-theme="light"] {
  display: none !important;
}

h1>a>.icon.icon-link::before,
h2>a>.icon.icon-link::before,
h3>a>.icon.icon-link::before{
  content: '#';
  font-size: 0.8rem;
}

h2>a,h3>a{
  text-decoration: none !important;
}

code {
  counter-reset: line;
}
 
code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
 
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}
 
code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}
 
code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

[data-highlighted-line]{
  background-color: rgba(255,255,255,0.1) !important;
  padding: 2px;
  padding-left: 0;
  padding-right: 4px;
  border-radius: 2px;
  border-left: 2px solid #7B00D3;
}

[data-highlighted-chars]{
  background-color: rgba(255,255,255,0.2) !important;
  padding: 2px;
  border-radius: 2px;
}


[data-rehype-pretty-code-figure]{
  position: relative;
}

[data-rehype-pretty-code-title]{
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-style:italic;
  margin: 3px !important;
}

.gsc-reactions-count > a:nth-child(1){
  color: black;
}

h4.gsc-reactions-count{
  color:dark !important;
}